// color
$color-1-white: #fff;
$color-1-blue: #aedefc;
$color-1-purple: #f875aa;
$color-sp-thongbao: #da0c81;
$color-1-content: #beadfa;
$color-2-content: #cdfad5;

// font-size

// breakpoints
$breakpoints: (
  "small": 576px,
  "medium": 768px,
  "large": 992px,
  "extra-large": 1200px,
);
