@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    92.23deg,
    #1d1d1f 11.43%,
    #8e8e8f 50.63%,
    #c7c7c7 100%,
    #ffffff 117.04%
  );
  height: 100vh;
}

a:link {
  text-decoration: none;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.btn_page {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn_admin,
.btn_customer {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: #fff;
  line-height: 1.8em;
}

.btn_admin:hover,
.btn_customer:hover {
  cursor: pointer;
  background-color: #8e8e8f;
  color: #fff;
}

.btn_admin:hover a,
.btn_customer:hover a {
  color: #8e8e8f;
}

.wrapper {
  padding-top: 40px;
}
